<?xml version="1.0"?>

<model>
  <name>pole54</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>HassanElnaggar</name>
    <email>eng.naggar57@gmail.com</email>
  </author>

  <description>
    This is the AURco Marker Pole with the same scale as in the ERC rules book.
  </description>
</model>
